extends layout.pug

block content
  section#content
    h2(title='question')=question
      strong(title='card_number')='Card number: ' + number
    if show_answer
      p(title='answer')=answer
      button(name='next_button', type='button', value='Next')
    else
      button(name='show_answer_button', type='button', value='Show Answer')
