extends app

block card
  section.flashcards
    div.card(class='card-question')
      div.card-header
      p 
        | Are you sure you want to delete 
        em= text
        | ?
      div#content
        form.delete-card(action="/cards/" + userid + "/" + id + "/delete", method="post")
          input(type="submit", value = "Yes, I'm sure")
block nav
  include nav  
    a(href="/cards/" + userid + "/" + id) No! Take me back! 
