extends app

block card
  section.flashcards
    div.card(class='card-question')
      div.card-header
      div#content
        form.edit-card(action="/cards/" + userid + "/" + id, method="post")
          include form
block nav
  include nav
    a(href="/cards/" + userid) Take me back
