extends layout

block main
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    img.desk-items(src='/static/img/desk.svg' alt='Image of paper which resembles a desk')
    a.button-primary-small(href='/cards') Go Home
    .paper
    .tear
