extends layout

block main
  section.desk
    h1= `${error.message} - Status: ${error.status}`
    img(src='/static/img/desk.svg' alt='Image of paper which resembles a desk')
    a(href='/cards') Go Home
    div.paper
    div.tear
