div
  label(for="question") Question:
  input(type="text", name="question" placeholder=question)
div
  label(for="answer") Answer:
  input(type="text", name="answer" placeholder=answer)
div
  label(for="hint") Hint:
  input(type="text", name="hint" placeholder=hint)
input(type="submit" value="Create Card")
a(href="/cards/" + userid) Take me back
