label(for="question") Question:
input(type="text", name="question" placeholder=question)
label(for="answer") Answer:
input(type="text", name="answer" placeholder=answer)
label(for="hint") Hint:
input(type="text", name="hint" placeholder=hint)
input(type="submit" value="Create Card")
