/*! normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

html, body {
  font-size: 100%;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-color: #EDEAD9;
  padding: 20px;
  position: relative;
}

body, a, button, input, label, p {
  display: block;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

header {
  color: #D64226;
}

header img {
  max-width: 350px;
  width: 100%;
}

h2 {
  font-weight: 400;
}

a, button, input, label, p {
  margin: 8px auto;
}

a:hover, button:hover, input:hover {
  cursor: hover;
}

a, button {
  background-color: #fff;
  border: 2px #D64226 solid;
  border-radius: 5px;
  box-sizing: border-box;
  color: #D64226;
  outline: none;
  padding: 8px;
}

a:hover, button:hover {
  background-color: #D64226;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

label, p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

input {
  border: 0;
  border-radius: 5px;
  color: #34393D;
  height: 30px;
  outline: none;
  width: 50%;
}


label {
  font-size: 1.8rem;
}

p {
  width: 100%;
}

div, nav, section {
  margin: auto;
}

nav {
  bottom: 0;
}

section.desk {
  color: #727C85;
  width: 80%;
}

section.desk h1 {
  font-weight: 400;
}

section.desk img {
  margin: auto;
  max-width: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

nav, section.flashcards {
  left: 0;
  position: absolute;
  right: 0;
}

section.flashcards {
  top: 240px;
}

section.namecard {
  background-color: #F5F3ED;
  color: #727C85;
  max-width: 400px;
}

div.card, nav {
  box-sizing: border-box;
  color: #727C85;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 400px;
}

div.card {
  border-bottom: 4px solid rgba(0,0,0,.1);
  border-radius: 20px;
  min-height: 425px;
  position: relative;
}

div.card h1 {
  background-color: #F5F3ED;
  border-top: 2px solid #F5F3ED;
  border-bottom: 2px solid rgba(0,0,0,.05);
  color: #727C85;
  font-weight: 400;
  padding: 10px auto;
  letter-spacing: 5px;
  text-transform: uppercase;
}

div.card-answer {
  background-color: #D64226;
}

div.card-answer div#content {
  color: #F5F3ED;
}

div.card-answer div:first-of-type {
  background-image: url("../img/content-header-answer.png");
  background-size: contain;
}

div.card-answer h1 {
  background-color: #D64226;
  color: #F5F3ED;
}

div.card-question {
  background-color: #F5F3ED;
}

div.card-question div:first-of-type {
  background-image: url("../img/content-header-question.png");
  background-size: contain;
}

div.card-flip {
  bottom: 10px;
  left: 20px;
  position: absolute;
}

div.card-flip a img {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  margin-top: 30px;
  max-width: 25px;
}

div.card-header {
  background-color: #727C85;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
}

div.card-next {
  bottom: 25px;
  padding: 0px; 
  position: absolute;
  right: 20px;
}

div.card-next a:link, div.card-next a:visited, div.card-next a:hover, div.card-next a:active {
  color: #727C85;
}

div.card-next a img {
  max-width: 30px;
}

div#content {
  padding: 8% 5%;
}

div#content button, div#content input {
  background-color: #F5F3ED;
  border: 1px solid #C79735;
  color: #C79735;
  font-size: .8rem;
  margin: 2px auto;
  padding: 2px;
}

div#content button:hover, div#content input:hover {
  background-color: #C79735;
  color: #fff;
}

div#content label {
  padding-top: 2px;
}

div.namecard-login {
  border-bottom: solid 2px #EDEAD9;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  padding: 5px 20px;
}

div.namecard-login p {
  text-align: left;
}

div.paper {
  background-color: #f8f8f8;
  background-image: linear-gradient(rgba(234, 236, 211, 1) 0.1rem, transparent 0.2rem);
  background-size: 100% 2.5rem;
  border-left: 0.2rem solid rgba(216, 64, 38, 0.5);
  color: #34393D;
  height: 500px;
  margin-top: 70px;
  overflow: scroll;
  padding-left: 20px;
  text-align: left;
}

div.paper pre {
  line-height: 3.15rem;
  margin-top: 0px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.tear {
  background-image: url("../img/tear.svg");
  background-repeat: repeat-x;
  height: 24px;
  width: 100%;
}

form.edit-card, form.new-card {
  max-height: 425px;
}

form.namecard-form h1 {
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 45px;
}

form.namecard-exit {
  text-align: right;
  width: 50%;
}

form.namecard-exit button {
  background-color: #F5F3ED;
  border: none;
  margin-top: 2px;
  outline: none;
}

form.namecard-exit button img {
  width: 100%;
}

form.namecard-form {
  padding-top: 15px;
}

form.namecard-form button {
  width: 100%;
}
